%div.line-separator
.tabcontrol2.menu-tab{"data-role" => "tabcontrol",style: "background-color: #232f3e;"}
  %ul.tabs.tabs-bottom.tab-menu-list{style: "margin-left: 3%;"}
    %li
      %a{:href => "#frame_1_electronics"} Electronics
    %li
      %a{:href => "#frame_1_musicgadgets"} Motors,Music&More
    %li
      %a{:href => "#frame_1_mens"} Mens Fashion
    %li
      %a{:href => "#frame_1_womens"} Womens Fashion
    %li
      %a{:href => "#frame_1_home"} Home&Living
    %li
      %a{:href => "#frame_1_health"} Health&Beaty
    %li
      %a{:href => "#frame_1_sports"} Sports&Travels
    %li
      %a{:href => "#frame_1_babytoys"} Babys&Toys
    %li
      %a{:href => "#frame_1_higlights"} Highlights
    %li
      %a{:href => "#frame_1_brand"} Shop Brands
 
  .frames.bg-grayLight
    #frame_1_electronics.frame Electronics
    #frame_1_musicgadgets.frame music&gadgets
    #frame_1_mens.frame Mens Fashion
    #frame_1_womens.frame Womens Fashion
    #frame_1_home.frame Home&Living
    #frame_1_health.frame Lifestyle
    #frame_1_sports.frame Travels
    #frame_1_babytoys.frame Babys&Toys
    #frame_1_higlights.frame Highlights
    #frame_1_brand.frame Shop Brands


