%hr.menu-divider
.tabcontrol2.tabs-bottom{"data-role" => "tabcontrol",style: "background-color: navy;"}
  %ul.tabs.tabs-bottom
    %li
      %a{:href => "#frame_1_1"} Tab 1
    %li
      %a{:href => "#frame_1_2"} Tab 2
    %li.disabled
      %a{:href => ""} Tab 3
  .frames.bg-grayLight
    #frame_1_1.frame 1
    #frame_1_2.frame 2




