@font-face {
  font-family: 'metro';
  src: url(/assets/metro.eot);
  src: url(/assets/metro.eot?#iefix) format("embedded-opentype"), 
    url(/assets/metro.ttf) format("truetype"), 
    url(/assets/metro.woff) format("woff"), 
    url(/assets/metro.svg#icofonts) format("svg");
  font-weight: normal;
  font-style: normal;
}