// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header-wrapper
	background-color: #232f3e

.header-wrapper .app-bar-menu > li
	&:hover, > a:hover, &:active, > a:active
		background-color: #232f3e

.header-wrapper .app-bar-element
	&:hover, &:active
		background-color: #232f3e

.header-wrapper .app-bar-element 
	margin-top: 10px

.header-wrapper .app-bar .app-bar-pullmenu.flexstyle-sidebar2 .sidebar2 li li:not(:hover)
	&:hover a
		background-color: #232f3e

.app-bar .app-bar-pullbutton
	&:hover, &:active
		background-color: #232f3e

#search
	width: 500px
	display: inline-block
	height: 50px
	margin: 0 
	margin-left: 60px
	position: relative


#search input:focus
	border-color: #ff4000

.header-wrapper .app-bar-menu
	margin-top: 10px

.input-append
	display: block
	width: 595px

.input-append span
	display: inline-block

.input-append .prepend-button
	position: absolute 

#category-search
	height: 50px
	width: 60px


.prepend-button #select-search-tmp-selected
	display: none

.branding
	height: 10%
